<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 准备好一个容器-->
  <div id="root">
    <h2>人员列表</h2>
    <input type="text" placeholder="请输入名字" v-model="keyWord">
    <button @click="sortType = 2">年龄升序</button>
    <button @click="sortType = 1">年龄降序</button>
    <button @click="sortType = 0">原顺序</button>
    <ul>
      <li v-for="p of filPersons" :key="p.id">
        {{p.name}}-{{p.age}}-{{p.sex}}
        <input type="text">
      </li>
    </ul>
  </div>

  <script src="../vue.js"></script>
  <script>  
    new Vue({
      el:'#root',
      data:{
        keyWord:'',
        sortType:0, //0原顺序 1降序 2升序
        persons:[
          {id:'001',name:'ABC',age:30,sex:'女'},
          {id:'002',name:'BCD',age:31,sex:'女'},
          {id:'003',name:'CDE',age:18,sex:'男'},
          {id:'004',name:'DEF',age:19,sex:'男'},
        ]
      },
      computed:{
        filPersons() {
          const arr = this.persons.filter((p) => {
            return p.name.includes(this.keyWord)
          })
          //判断一下是否需要排序
          if (this.sortType) {
            arr.sort((p1,p2) => {
              return this.sortType === 1 ? p2.age-p1.age : p1.age-p2.age
            });
          }
          return arr;
        }
      }
    }) 
  </script>
</body>
</html>