{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">Registration Model Form</h2>

            {# form表单提交形式改成POST #}
            <form method="post" id="submit" novalidate>
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-3">
                        <label for="name" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        <span style="color: red;">{{ field.errors.0 }}</span>
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{#  {{ field }} 输入框, 会自带一个 id="id_field"  #}
{#  {{ field.label }} 注解  #}
{% for field in form %}
{{ field.label }}: {{ field }}
{% endfor %}