<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="container">
    <h2>当前n值为{{n}}</h2>
    <button @click="n++">点我n+1</button>
    <!-- 使用v-show进行条件渲染  原标签还在 -->
    <!-- <h2 v-show="false">显示</h2> -->

    <!-- 使用v-if做条件渲染  原标签消失 -->
    <!-- <h2 v-if="false">显示</h2> -->

    <!-- 等价于 if elseif 语句 -->
    <!-- <div v-if="n === 1">Angular</div>
    <div v-else-if="n === 2">React</div>
    <div v-else-if="n === 3">Vue</div>
    <div v-else>Other Framework</div> -->

    <!-- template与v-if配合使用 -->
    <template v-if="n === 1">
      <h2>你好</h2>
      <h2>Vue</h2>
    </template>
  </div>
  
  <script src="../vue.js"></script>
  <script>
    const vm = new Vue({
      el: "#container",
      data: {
        n: 0,
      },
    })
  </script>
</body>
</html>